* {
    border-block-end: 0px;
    padding-block-end: 0px
    
}
header {
    height:20vh;
    width:90vw;
    display:flex;
    justify-content: center;
    background:yellow;
    font-size: 30px;
    padding:10px;
}


.Top-Row {
    width:450px;
    background:green;
    height:99px;
    display:flex;
}

.Top-Row :nth-child(1) {
    height:99px;
    width:150px;
    border:solid black 1px;
}
.Top-Row :nth-child(2) {
    height:99px;
    width:150px;
    background: blue;
    border:solid black 1px;
}
.Top-Row :nth-child(3) {
    height:99px;
    width:150px;
    background: green;
    border:solid black 1px;
}
.Center-Row {
    width:450px;
    background:green;
    height:99px;
    display:flex;
}

.Center-Row :nth-child(1) {
    height:99px;
    width:150px;
    /* background: red; */
    border:solid black 1px;
}
.Center-Row :nth-child(2) {
    height:99px;
    width:150px;
    background: blue;
    border:solid black 1px;
}
.Center-Row :nth-child(3) {
    height:99px;
    width:150px;
    background: green;
    border:solid black 1px;
}
.Bottom-Row {
    width:450px;
    background:green;
    height:99px;
    display:flex;
}

.Bottom-Row :nth-child(1) {
    height:99px;
    width:150px;
    /* background: red; */
    border:solid black 1px;
}
.Bottom-Row :nth-child(2) {
    height:99px;
    width:150px;
    background: blue;
    border:solid black 1px;
}
.Bottom-Row :nth-child(3) {
    height:99px;
    width:150px;
    background: green;
    border:solid black 1px;
}
